.clear, .comments .comment-meta-info .edit-buttons::after {
  content: "";
  display: block;
  clear: both;
  width: 0;
  height: 0;
}

.s-border {
  border-style: solid;
  border-width: 0.0625rem;
}

.s-rad {
  border-radius: calc(0.0625rem * 3);
}

.s-shadow, *[class*="card"] {
  -webkit-box-shadow: 0 calc(0.0625rem * 3) calc(0.0625rem * 6) calc(-0.0625rem * 2) rgba(0, 0, 0, 0.5);
          box-shadow: 0 calc(0.0625rem * 3) calc(0.0625rem * 6) calc(-0.0625rem * 2) rgba(0, 0, 0, 0.5);
}

*[class*="card"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  background: #EEE;
}
*[class*="card"] .material-icons {
  font-size: 1em;
  line-height: 1.25em;
}
*[class*="card"] .numbers-wrapper {
  position: relative;
  width: 14%;
}
*[class*="card"] .numbers {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  padding: 1ch;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
*[class*="card"] .votes {
  margin-bottom: 1.5em;
  text-align: center;
}
*[class*="card"] .votes a {
  display: inline-block;
  color: #000;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
*[class*="card"] .vote-up:hover {
  color: #4CAF50;
}
*[class*="card"] .vote-down:hover {
  color: #FF9100;
}
*[class*="card"] .question-wrapper,
*[class*="card"] .answer-wrapper {
  width: 86%;
  padding: 1ch;
}
*[class*="card"] h2 {
  margin: 1ch 0;
}
*[class*="card"] .edit-buttons {
  text-align: right;
}
*[class*="card"] .edit-buttons button {
  margin-left: 0.5em;
  background: #EEE;
  border: none;
  color: #FFD180;
  font-size: 1.25em;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
*[class*="card"] .edit-buttons button:hover {
  color: #FF9100;
}

.question-meta-info,
.answer-meta-info {
  margin-bottom: 1em;
  color: #9E9E9E;
  font-size: 0.8em;
  line-height: 1.25em;
  text-align: right;
}

.num-icon {
  margin-left: 1ch;
  color: #4CAF50;
  font-size: 1.25em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.comments {
  margin-left: 1ch;
}
.comments ul {
  list-style-type: none;
}
.comments a {
  text-decoration: none;
}
.comments li {
  margin-top: 0.5em;
  padding: 0.5em 0 0.5em 1ch;
  border-left: calc(0.0625rem * 3) solid #4CAF50;
  overflow: hidden;
  font-size: 0.8em;
  line-height: 1.25em;
}
.comments li:nth-child(odd) {
  background: #CFCFCF;
}
.comments li:nth-child(odd) button {
  background: #CFCFCF;
  color: #FFAB40;
}
.comments li:last-child {
  background: #A5D6A7;
  color: #FFF;
  font-size: 1em;
  font-weight: 700;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.comments li:last-child:hover {
  background: #81C784;
}
.comments .comment-meta-info {
  padding-right: 1ch;
  color: #616161;
  font-size: 0.9em;
  text-align: right;
}
.comments .comment-meta-info .edit-buttons {
  float: right;
}

.answer-card .answer-message {
  margin: 1ch 0;
}

hr {
  width: 85%;
  height: calc(0.0625em * 3);
  margin: 2em auto 2em;
  background: #BDBDBD;
  border: none;
}
