main .page-container {
    transition: all 0.3s;
}

@media screen and (max-width:749px) {
    main .page-container {
        padding-right: 0; padding-left: 0;
    }
}

@media screen and (min-width:750px) {
    main .page-container {
        padding-right: 20px; padding-left: 20px;
    }
}

article {
    margin: 0 auto 50px;
    background: #F5F5F5;
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.35);
    transition: width 0.3s;
}

@media screen and (max-width:749px) {
    article {
        width: 100%;
    }
}

@media screen and (min-width:750px) {
    article {
        width: 95%;
    }
}

article .question, article .numbers, article .entry-links, article .answer {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}

.numbers {
    text-align: center;
    transition: width 0.3s;
}

@media screen and (max-width:959px) {
    .numbers {
        width: 20%;
    }
}

@media screen and (min-width:960px) {
    .numbers {
        width: 12.5%;
    }
}

.question, .answer {
    transition: width 0.3s;
}

@media screen and (max-width:959px) {
    .question, .answer {
        width: 80%;
    }
}

@media screen and (min-width:960px) {
    .question, .answer {
        width: 87.5%;
    }
}

.question h2::before {
    content: "Q: ";
}

.entry-links {
    float: right;
    text-align: right;
}

.question::after, .answer::after {
    content: "clear";
    display: none;
    clear: both;
    background: red;
}

.num-icon {
    color: #4CAF50;
}

*[class*="vote"] {
    color: #9E9E9E;
    font-size: 36px;
    font-weight: 700;
    transition: color 0.3s;
}

.vote-up:hover {
    color: #4CAF50;
}

.vote-down:hover {
    color: #FF6D00;
}

.meta-data {
    margin-top: 20px;
    color: #9E9E9E;
    font-size: 0.8em; line-height: 1;
}

.entry-links a:link, .entry-links a:visited {
    display: inline-block;
    margin-bottom: 10px; padding: 0 10px;
    background: #BDBDBD;
    border: 1px solid #9E9E9E;
    border-radius: 3px;
    color: #000;
    transition: background 0.3s, border-color 0.3s;
}

.entry-links a:hover, .entry-links a:active {
    background: #81C784;
    border-color: #4CAF50;
}

.article-card {
    margin-bottom: 15px;
}