* {
    margin: 0; padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    
    text-decoration: none;
}
header, main, footer, section, article {display: block;}
.page-container {max-width: 960px; margin: 0 auto; padding: 0 20px;}

body {
    background: #E0E0E0;

    font-family: sans-serif;
    font-size: 16px; line-height: 1.5em;

    cursor: default;
}

header {
    position: fixed; top:0;
    width: 100%;
    background: #EEE;
    border-bottom: 2px solid #BDBDBD;
}

    header .page-container {
        height: 65px;

        line-height: 65px;
    }
    
    #ask-mate {
        color: #000;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 36px;
    }

    header nav {
        display: inline-block;
        float:right;
    }

        header nav::after {
            display: block;
            clear: both;
            content: "";
        }
    
    header nav a {
        margin-left: 20px; padding: 10px 15px;
        background: #BDBDBD;
        border: 1px solid #9E9E9E;
        border-radius: 3px;

        color: #000;

        transition: background 0.3s, border-color 0.3s;
    }

        header nav a:first-child {
            margin-left: 0;
        }
    
    header nav a:hover, header nav a:active {
        background: #81C784;
        border-color: #4CAF50;
    }

main {
    min-height: calc(100vh - 65px);
    margin-top: 65px; padding-top: 35px;
}


footer {
    width: 100%;
    background: #4CAF50;
}

    footer .page-container {
        min-height: 20vh;
        padding-top: 1.5em;

        color: #EEE;
        text-align: center;
        vertical-align: 50%;
    }

@media screen and (min-width: 600px) and (max-width: 959px) {
    body {
        font-size: 18px;
    }
}

@media screen and (min-width: 960px) {
    body {
        font-size: 20px;
    }
}