* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    
    text-decoration: none;
}
header, main, footer, section, article {display: block;}
.page-container {max-width: 960px; margin: 0 auto;}

body {
    background: #BDBDBD;

    font-family: sans-serif;
    font-size: 18px; line-height: 1.25em;
}

header {
    position: relative; z-index: 1;
    width: 100%; height: 65px;
    background: #E0E0E0;
    border-bottom: 2px solid #9E9E9E;

    line-height: 65px;
}

    header .page-container {padding: 0 20px;}

    #ask-mate {
        color: #000;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 36px;
    }

main {
    margin-bottom: 10vh;
}

    main > .page-container {
        min-height: calc(100vh - 65px - 10vh);
        padding: 35px 0 10vh;
        background: #E0E0E0;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
    }

footer {
    width: 100%; min-height: 20vh;
    background: #616161;

    color: #E0E0E0;
    font-size: 20px; line-height: calc(20vh * 0.85);
    text-align: center;
}