#sort-menu-container {
    position: relative;
    width: 95%;
    margin: 0 auto 35px;
    text-align: right
}

#sort-dropdown {
    display: inline-block;
    padding: 5px 10px;
    background: #F5F5F5;
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.35);
    line-height: 1.5em;
}

#sort-values {
    position: absolute; top: 100%; right: 0;
    display: none;
    padding: 10px;
    background: #F5F5F5;
    box-shadow: 0 8px 18px -3px rgba(0, 0, 0, 0.35);
    text-align: right;
}

#sort-dropdown:hover+#sort-values, #sort-values:hover {
    display: block;
}

#sort-values a {
    color: #000;
    font-weight: 700;
}
