#sort-dropdown {
    position: relative;
    background: red;
}

#sort-values {
    position: absolute; top: 100%; left: 0;
    display: none;
    background: #E0E0E0;
    padding: 10px;
    text-align: right;
}

#sort-dropdown:hover #sort-values {
    display: block;
}
