.clear {
  content: "";
  display: block;
  clear: both;
  width: 0;
  height: 0; }

.s-border, form input[type="submit"] {
  border-style: solid;
  border-width: 0.0625rem; }

.s-rad, form, form input[type="submit"] {
  border-radius: calc(0.0625rem * 3); }

.s-shadow, form {
  -webkit-box-shadow: 0 calc(0.0625rem * 3) calc(0.0625rem * 6) calc(-0.0625rem * 2) rgba(0, 0, 0, 0.5);
          box-shadow: 0 calc(0.0625rem * 3) calc(0.0625rem * 6) calc(-0.0625rem * 2) rgba(0, 0, 0, 0.5); }

.req {
  color: #FF9100; }

form {
  width: 100%; }
  form label {
    display: block; }
    form label + p {
      font-size: 0.8em; }
  form input[type="text"],
  form textarea {
    width: 100%;
    padding: 0 1.25em;
    background: #EEE;
    resize: none;
    font-size: 1.25em;
    line-height: 2em; }
    form input[type="text"]:focus + hr,
    form textarea:focus + hr {
      width: 100%; }
  form hr {
    width: 0%;
    height: calc(one-px-rem * 3);
    margin-bottom: 2em;
    background: #4CAF50;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out; }
  form input[type="submit"] {
    display: block;
    margin: 0.75em auto;
    padding: 1ch 1.5ch;
    background: #BDBDBD;
    border-color: #9E9E9E;
    font-size: 1em;
    cursor: pointer;
    -webkit-transition: background 0.3s, border-color 0.3s;
    transition: background 0.3s, border-color 0.3s; }
    form input[type="submit"]:hover, form input[type="submit"]:active {
      background: #81C784;
      border-collapse: #4CAF50; }

article {
  margin-bottom: 2em; }
  article h2 {
    padding-bottom: 0.5em; }
    article h2::before {
      content: "Q"; }
  article p {
    font-size: 0.8em; }
