.req {
    color: #FF0000;
}

form {
    width: 100%;
}

label {
    display: block;
}

input[type="text"], textarea {
    width: 100%;
    padding: 0 20px;
    background: #E0E0E0;
    background: #EEE;
    resize: none;

    font-size: 20px; line-height: 2em;
}

hr {
    width: 0; height: 3px;
    margin-bottom: 35px;
    background: #4CAF50;

    transition: width 0.5s ease-in-out;
}

input[type="text"]:focus+hr, textarea:focus+hr {
    width: 100%;
}

label+p {
    color: #616161;
    font-size: calc(1em - 2px);
}

input[type="file"] {
    font-size: calc(1em - 4px);
}

input[type="submit"] {
    display: block;
    margin: 15px auto 0; padding: 10px 15px;
    background: #BDBDBD;
    border: 1px solid #9E9E9E;
    border-radius: 3px;
    
    font-size: 1em;

    cursor: pointer;

    transition: background 0.3s, border-color 0.3s;
}

    input[type="submit"]:hover, input[type="submit"]:focus {
        background: #81C784;
        border-color: #4CAF50;
    }

article {
    margin-bottom: 35px;
}

article h2 {
    padding-bottom: 10px;
}

article h2::before {
    content: "Q: ";
}

form p {
    font-size: 0.8em;
}