main > .page-container {
    /*
    padding-top: 10px; padding-bottom: 10px;
    background: #EEE;
    border-radius: 3px;
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.35);
    */
}

.req {
    color: #FF0000;
}

form {
    width: 100%;
}

label {
    display: block;
}

input[type="text"], textarea {
    width: 100%;
    padding: 0 20px;
    background: #E0E0E0;
    resize: none;

    font-size: 20px; line-height: 2em;
}

hr {
    width: 0; height: 3px;
    margin-bottom: 35px;
    background: #4CAF50;

    transition: width 0.5s ease-in-out;
}

input[type="text"]:focus+hr, textarea:focus+hr {
    width: 100%;
}

label+p {
    color: #616161;
    font-size: calc(1em - 2px);
}

input[type="file"] {
    font-size: calc(1em - 4px);
}

input[type="submit"] {
    display: block;
    margin: 15px auto 0; padding: 10px 15px;
    background: #BDBDBD;
    border: 1px solid #9E9E9E;
    border-radius: 3px;
    
    font-size: 1em;

    cursor: pointer;

    transition: background 0.3s, border-color 0.3s;
}

    input[type="submit"]:hover {
        background: #81C784;
        border-color: #4CAF50;
    }

#flash-messages {
    position: fixed; top: 67px; z-index: 1;
    width: 100%;
    padding-top: 15px;
    opacity: 0.75;

    text-align: center;
}

    .flash-message {
        padding: 10px 0;
        background: #FF9E80;
        border: 1px solid #DD2C00;
        border-radius: 3px;

        color: #DD2C00;
    }