$white: #FFF
$grey200: #EEE
$grey300: #E0E0E0
$grey350: #CFCFCF
$grey400: #BDBDBD
$grey500: #9E9E9E
$grey700: #616161
$black: #000

$theme100: #C8E6C9
$theme200: #A5D6A7
$theme300: #81C784
$theme500: #4CAF50

$acc100: #FFD180
$acc200: #FFAB40
$acc400: #FF9100
$acc700: #FF6D00

$font-family: Helvetica, Verdana, sans-serif
$logo-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

$one-px: 0.0625em
$one-px-rem: 0.0625rem

$header-height: 55px
