@import variables
@import meta-selectors

// Card style
.card
  @extend .s-shadow

  display: flex
  background: $grey200

  a
    @extend .no-underline

    color: $black

.numbers-wrapper
  padding: 1ch

.numbers
  position: relative
  margin: 0 auto

.votes-wrapper
  text-align: center

.vote-button
  display: inline-block
  font-size: 2em
  font-weight: 700
  transition: color 0.3s
  // vertical middle position hack
  display: inline-block
  margin-top: -0.15ch
  vertical-align: middle

.vote-up:hover
  color: $theme700

.vote-down:hover
  color: $accent400

.vote-number
  margin-top: -0.25em
  line-height: calc(2em * #{$line-height})

.text-wrapper
  padding: 1ch

  h2
    margin: 1ch 0
  
  p
    margin-bottom: 1ch
    overflow-wrap: break-word
    white-space: pre-wrap

// Card style responsivity
// Overall card style
@media screen and (max-width: 959px)
  .card
    margin-bottom: 0
    padding: 1ch 0
    border-bottom: calc(#{$one-px-rem} * 3) solid $grey400

    &:last-of-type
      margin-bottom: 1em
      border-bottom: none

@media screen and (min-width: 960px)
  .card
    margin-bottom: 1em

// Card content positioning
@media screen and (max-width: 749px)
  .card
    flex-direction: column
  
  .numbers-wrapper
    width: 100%
    text-align: center

    *
      display: inline-block
    
  .numbers
    padding: 0
  
  .votes-wrapper
    margin-bottom: 0
  
  .text-wrapper
    width: 100%
    padding: 1ch

@media screen and (min-width: 750px)
  .card
    flex-direction: row
  
  .numbers-wrapper
    width: 14%
  
  .numbers
    padding: 1ch
  
  .votes-wrapper
    margin-bottom: 1.5em
  
  .text-wrapper
    width: 86%
    padding: 1ch



// Questions
.number-icon
  color: $theme700



// List page questions
.list-question
  .text-wrapper
    position: relative

    &:hover .read-more,
    &:active .read-more
      color: $accent400

  p
    position: relative
    height: calc(5em * #{$line-height})
    overflow: hidden

.paragraph-overlay
  position: absolute
  width: 100%
  height: calc(5em * #{$line-height})
  left: 0
  background: linear-gradient(rgba(238, 238, 238, 0), #{$grey200}) // #EEE

.read-more
  display: block
  text-align: center
  transition: color 0.3s

// Responsive .paragraph-overlay
@media screen and (max-width: 749px)
  .paragraph-overlay
    bottom: calc(1em + (1em * #{$line-height}))

@media screen and (min-width: 750px)
  .paragraph-overlay
    bottom: calc(1em + (1em * #{$line-height}) + 1em)
    



// Questin page question, answer
.edit-buttons
  text-align: right

  a
    margin-left: 0.5ch
    color: $accent100
    transition: color 0.3s

    &:hover,
    &:active
      color: $accent200

.meta-info
  text-align: right
  color: $grey500



// answers
.answer
  box-shadow: 0 calc(#{$one-px-rem} * 3) calc(#{$one-px-rem} * 6) calc(-#{$one-px-rem} * 2) rgba(0, 0, 0, 0.5), calc(#{$one-px-rem} * 3) 0 0 $theme400 inset

  .entry-message
    margin-top: 2ch

.accepted-answer-wrapper
  padding: 1ch

.select-accepted-answer
  @extend .no-underline

  display: block
  margin: 0 auto
  color: $grey350
  transition: color 0.3s

  &:hover,
  &:active
    color: $theme400

#accepted-answer
  @extend .no-underline

  display: block
  margin: 0 auto
  color: $theme700



// Comment
.comments
  margin-left: 1ch

  ul
    list-style-type: none
  
  a
    @extend .no-underline
  
  li
    margin-top: 0.5em
    padding: 0.5em 0 0.5em 1ch
    border-left: calc(#{$one-px-rem} * 3) solid $theme700
    font-size: 0.8em
    line-height: 1.25em

    p
      white-space: pre-wrap

    &:nth-child(odd)
      background: $grey350

      a
        color: $accent200

        &:hover,
        &:active
          color: $accent400
    
    &:last-child
      background: $theme400
      color: $white
      font-size: 1em
      font-weight: 700
      transition: background 0.3s

      &:hover
        background: $theme500

  .meta-info
    padding-right: 1ch
    color: $grey700
    font-size: 0.9em
  
  .edit-buttons
    float: right
    text-align: right

    &::after
      @extend .clear