@import colors
@import meta-selectors
@import variables

// COMMON SETTINGS
*
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none
  font-size: 1em

  &::selection
    background: $accent200

header,
main,
section,
article,
footer
  display: block

@media screen and (max-width: 494px)
  \:root
    font-size: 16px

@media screen and (min-width: 450px) and (max-width: 959px)
  \:root
    font-size: 18px

@media screen and (min-width: 960px)
  \:root
    font-size: 20px

body
  background: $grey300
  font-family: $font-family
  line-height: $line-height

.page-wrapper
  max-width: 960px
  margin: 0 auto

.hide
  display: none



// PAGE HEADER
#page-header
  position: fixed
  z-index: 1
  width: 100%
  min-height: $header-height
  background: $grey200
  border-bottom: calc(#{$one-px-rem} * 3) solid $grey400

  .page-wrapper
    padding: 0 1ch
  
  .header-link
    @extend .no-underline

    display: inline-block
    color: $black
    line-height: $header-height
    transition: all 0.3s

    &:hover,
    &:active
      background: $grey300
      box-shadow: 0 calc(-#{$one-px-rem} * 3) 0 $theme700 inset
  
  &::after
    @extend .clear

#header-logo-wrapper
  float: left

#header-logo
  @extend .no-underline
  
  color: $black
  font-family: $logo-font
  font-size: 2.15em
  line-height: $header-height

#ask
  color: $theme700

#header-content-wrapper
  float: right
  line-height: $header-height

  > *
    display: inline-block
    margin-left: 0.5ch
    padding: 0 1ch

#fake-search-form
  @extend .s-border
  @extend .s-rad

  background: $grey350
  border-color: $grey500
  line-height: 1.5em // makes the "form" not take up all the vertical space

  input[type="text"]
    @extend .no-border

    width: 8ch
    background: $grey350
    color: $grey500
    transition: width 0.3s

    &::placeholder
      color: $grey500

    &:focus
      width: 15ch
  
  input[type="submit"]
    @extend .no-border

    background: $grey350
    color: $grey500
    font-size: 1.2em
    font-weight: 700
    cursor: pointer
    // vertical middle position hack
    display: inline-block
    margin-top: -0.15ch
    vertical-align: middle

#top
  height: calc(#{$header-height} + (#{$one-px-rem} * 3))



// FLASH MESSAGES
#flash-messages
  position: fixed
  z-index: 1
  top: calc((#{$header-height} + (#{$one-px-rem} * 2)) + 2em)
  width: 100%

.flash-message
  @extend .s-border
  @extend .s-rad
  @extend .s-shadow

  position: relative
  width: 80%
  margin: 0 auto 0.5em
  padding: 0 2ch
  background: $accent100
  border-color: $accent400
  color: $accent400
  line-height: 2em
  text-align: center
  animation:
    name: flash-anim
    delay: 2s
    duration: 2s
    fill-mode: forwards

@keyframes flash-anim
  0%
    top: 0
    opacity: 1
  50%,
  99%
    top: -1em
    opacity: 0
  100%
    top: -100vh
    left: -100vw
    display: none
    opacity: 0
  



// MAIN
main
  min-height: calc(100vh - (#{$header-height} + (#{$one-px-rem} * 3)) - 10vh)
  transition: all 0.3s

@media screen and (max-width: 959px)
  main
    margin-bottom: 0
    padding-top: 0

@media screen and (min-width: 960px)
  main
    margin-bottom: 10vh
    padding-top: calc(#{$one-px-rem} * 10)

.button-card
  @extend .no-underline
  @extend .s-shadow

  display: block
  width: 50%
  margin: 0 auto 1em
  background: $theme400
  color: $white
  font-size: 1.25em
  font-weight: 700
  line-height: 2.75em
  text-align: center
  transition: background 0.3s

  &:hover,
  &:active
    background: $theme500

small
  font-size: 0.75em
  line-height: 0.75



// PGE FOOTER
footer
  background: $theme700
  color: $grey200

  .page-wrapper
    position: relative
    padding: 0 1ch
    background:
      image: url("/static/images/layout-footer-background.png")
      repeat: no-repeat
      size: 25vh 25vh
    text-align: center
  
  #footer-vertical-align
    position: absolute
  
@media screen and (max-width: 599px)
  footer
    .page-wrapper
      min-height: calc(10vh + 30vh)
      background-position: center bottom
    
    #footer-vertical-align
      top: 2em
      left: 50%
      transform: translateX(-50%)

@media screen and (min-width: 600px)
  footer
    .page-wrapper
      min-height: 30vh
      background-position: left center
    
    #footer-vertical-align
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)



// FLOATING BUTTONS
#floating-buttons
  position: fixed
  bottom: 7vmin
  right: 7vmin

.floating-button
  @extend .no-underline
  @extend .s-shadow

  display: block
  width: 50px
  height: 50px
  margin-top: calc(#{$one-px-rem} * 10)
  background: $accent400
  border-radius: 50%
  color: $grey200
  font-size: 1.75em
  line-height: 50px
  text-align: center
  cursor: pointer

#to-top
  transform: translateY(calc(7vmin + 50px))
  transition: transform 0.3s

  &.visible
    transform: translateY(0)