@import meta-selectors
@import variables

// COMMON SETTINGS
*
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none
  font-size: 1em

  &::selection
    background: $accent200

header,
main,
section,
article,
footer
  display: block

@media screen and (max-width: 494px)
  \:root
    font-size: 16px

@media screen and (min-width: 450px) and (max-width: 959px)
  \:root
    font-size: 18px

@media screen and (min-width: 960px)
  \:root
    font-size: 20px

body
  background: $grey300
  font-family: $font-family
  line-height: $line-height
  overflow-x: hidden

.page-wrapper
  max-width: 960px
  margin: 0 auto

.hide
  display: none



// PAGE HEADER
#page-header
  position: fixed
  z-index: 1
  width: 100vw
  background: $grey200
  border-bottom: calc(3 * #{$one-px-rem}) solid $grey400

  .page-wrapper
    display: flex
    height: $header-height
    padding: 0 1ch
    line-height: $header-height

#header-logo
  @extend .no-underline

  color: $black
  font-family: $logo-font
  font-size: 2em

#ask
  color: $theme700

#header-content-wrapper
  flex-grow: 1
  text-align: right

.side-nav
  position: fixed
  top: 0
  right: 0
  z-index: 3
  width: 75vw
  height: 100vh
  padding: 0 0 5em
  background: $grey200
  text-align: left
  transform: translateX(75vw)
  transition: transform 0.3s

  &.visible
    transform: translateX(0)

  ul
    // width: calc(100% - (2*2ch)) if this was fixed positioned and .side-navs overflow-x was hidden
    padding-bottom: 5em
    list-style-type: none
    text-align: right
  
  li
    padding: 1.5ch 2ch
    font-size: 1.25em
  
  a
    @extend .no-underline

    color: $black

#side-nav-shadow
  position: fixed
  top: 0
  left: 0
  z-index: 2
  background: $black
  opacity: 0
  transition: opacity 0.3s

  &.visible
    right: 0
    bottom: 0
    opacity: 0.35

#page-menu-close-button
  margin-left: 0.5ch
  color: $theme700
  font-size: 2em
  font-weight: 700
  line-height: $header-height
  cursor: pointer

#page-header form,
#account-menu-wrapper,
#page-menu-open-button
  display: inline-block

#page-header form
  @extend .s-border
  @extend .s-rad

  padding: 0 1ch
  background: $grey400
  border-color: $grey500
  line-height: 1.65em

  input
    @extend .no-border

    line-height: 100%
    background: $grey400
    color: $grey600

    &[type="text"]
      width: 7ch
      transition: width 0.3s

      &:focus
        width: 15ch

    &[type="submit"]
      @extend .material-icon-middle-position

      margin-top: -0.15ch
      margin-left: 0.1ch
      font-weight: 700
      cursor: pointer

#account-menu-button,
#page-menu-open-button
  @extend .material-icon-middle-position

  margin-top: -0.15ch
  font-size: 2em

#account-menu-wrapper
  position: relative

  &:hover #account-menu
    display: block

#account-menu-button
  color: $grey350

  &.logged-in
    color: $theme700

#account-menu
  @extend .s-shadow

  position: absolute
  top: 100%
  right: 0
  z-index: 2
  width: 20ch
  height: auto
  background: $grey200
  border-top: calc(3 * #{$one-px-rem}) solid $grey400
  line-height: 1em
  text-align: left

  ul
    list-style-type: none
  
  li
    padding: 1ch
    transition: background-color 0.15s
  
  a
    @extend .no-underline

    color: $black

  a:hover li,
  a:active li
    background: $grey300

#page-menu-open-button
  color: $theme700
  font-weight: 700
  cursor: pointer

#account-menu
  display: none

#top
  height: $header-height



// FLASH MESSAGES
#flash-messages
  position: fixed
  z-index: 1
  top: calc((#{$header-height} + (#{$one-px-rem} * 2)) + 2em)
  left: 50%
  max-width: calc(960px * 0.8)
  transform: translateX(-50%)

.flash-message
  @extend .s-border
  @extend .s-rad
  @extend .s-shadow

  position: relative
  z-index: 1
  width: 100%
  margin: 0 auto 0.5em
  padding: 0 2ch
  background: $accent100
  border-color: $accent400
  color: $accent400
  line-height: 2em
  text-align: center
  animation:
    name: flash-anim
    delay: 3s
    duration: 1s
    fill-mode: forwards

@keyframes flash-anim
  0%
    top: 0
    left: 0
    z-index: 1
    width: 100%
    height: auto
    opacity: 1
  50%
    top: -2em
    left: 0
    z-index: 1
    width: 100%
    height: auto
    opacity: 0
  100%
    position: fixed
    top: 1000vh
    left: 1000vw
    z-index: -1
    width: 0
    height: 0
    opacity: 0

  



// MAIN
main
  min-height: calc(100vh - (#{$header-height} + (#{$one-px-rem} * 3)) - 10vh)
  transition: all 0.3s

  a.normal-link:link,
  a.normal-link:visited
    @extend .no-underline

    color: $theme500
    transition: color 0.3s
  
  a.normal-link:hover,
  a.normal-link:active
    color: $theme700

@media screen and (max-width: 959px)
  main
    margin-bottom: 0
    padding-top: 0

@media screen and (min-width: 960px)
  main
    margin-bottom: 10vh
    padding-top: calc(#{$one-px-rem} * 10)

.button-card
  @extend .no-underline
  @extend .s-shadow

  display: block
  width: 50%
  margin: 0 auto 1em
  background: $theme400
  color: $white
  font-size: 1.25em
  font-weight: 700
  line-height: 2.75em
  text-align: center
  transition: background 0.3s

  &:hover,
  &:active
    background: $theme500

small
  font-size: 0.75em
  line-height: 0.75



// PGE FOOTER
footer
  background: $theme700
  color: $grey200

  .page-wrapper
    position: relative
    padding: 0 1ch
    background:
      image: url("/static/images/layout-footer-background.png")
      repeat: no-repeat
      size: 25vh 25vh
    text-align: center
  
  #footer-vertical-align
    position: absolute

  a:link,
  a:visited
    color: $white
    transition: color 0.3s
  
  a:hover,
  a:active
    color: $accent200
  
@media screen and (max-width: 599px)
  footer
    .page-wrapper
      min-height: calc(10vh + 30vh)
      background-position: center bottom
    
    #footer-vertical-align
      top: 2em
      left: 50%
      transform: translateX(-50%)

@media screen and (min-width: 600px)
  footer
    .page-wrapper
      min-height: 30vh
      background-position: left center
    
    #footer-vertical-align
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)



// FLOATING BUTTONS
#floating-buttons
  position: fixed
  bottom: 7vmin
  right: 7vmin

.floating-button
  @extend .no-underline
  @extend .s-shadow

  display: block
  width: 50px
  height: 50px
  margin-top: calc(#{$one-px-rem} * 10)
  background: $accent400
  border-radius: 50%
  color: $grey200
  font-size: 1.75em
  line-height: 50px
  text-align: center
  cursor: pointer

#to-top
  transform: translateY(calc(7vmin + 50px))
  transition: transform 0.3s

  &.visible
    transform: translateY(0)