<!--



    BE VERY WARRY OF VARIABLE NAMING!!!



-->

<!-- Question on index -->
<article>
    <div class="numbers">
        <a href="/question/{{ qdict['id'] }}/vote-up" class="material-icons vote-up">keyboard_arrow_up</a><br>
        {{ qdict['vote_number'] }}<br>
        <a href="/question/{{ qdict['id'] }}/vote-down" class="material-icons vote-down">keyboard_arrow_down</a><br>
        <span class="material-icons num-icon">remove_red_eye</span> {{ qdict['view_number'] }}<br>
        <span class="material-icons num-icon">question_answer</span> {{ qdict['answer_count'] }}
    </div><!--
    --><div class="question">
        <h2>{{ qdict['title'] }}</h2>
        <p>{{ qdict['message'] }}</p>
        <div class="entry-links">
            <a href="/question/{{ qdict['id'] }}">See answers</a>
            <a href="/question/{{ qdict['id'] }}/new-answer">I have an answer</a>
        </div>
    </div>
</article>

<!-- Question on own page -->
<article>
    <div class="numbers">
        <a href="/question/{{ question['id'] }}/vote-up?next=this" class="material-icons vote-up">keyboard_arrow_up</a><br>
        {{ question['vote_number'] }}<br>
        <a href="/question/{{ question['id'] }}/vote-down?next=this" class="material-icons vote-down">keyboard_arrow_down</a><br>
        <span class="material-icons num-icon">remove_red_eye</span> {{ question['view_number'] }}<br>
        <span class="material-icons num-icon">question_answer</span> {{ question['answer_count'] }}
    </div><!--
    --><div class="question">
        <h2>{{ question['title'] }}</h2>
        <p>{{ question['message'] }}</p>
        <p class="meta-data">
            {{ question['id'] }},
            {{ question['submission_time']|time }}
        <div class="entry-links">
            <a href="/question/{{ question['id'] }}/new-answer">I have an answer</a><br>
            <a href="/question/{{ question['id'] }}/edit">Edit</a>
            <a href="/question/{{ question['id'] }}/delete">Delete</a>
        </div>
    </div>
</article>

<!-- Answer on questions page -->
<article>
    <div class="numbers">
        <a href="/answer/{{ answ['id'] }}/vote-up" class="material-icons  vote-up">keyboard_arrow_up</a><br>
        {{ answ['vote_number'] }}<br>
        <a href="/answer/{{ answ['id'] }}/vote-down" class="material-icons vote-down">keyboard_arrow_down</a><br>
    </div><!--
    --><div class="answer">
        <p>{{ answ['message'] }}</p>
        <p class="meta-data">
            Post time: {{ answ['submission_time']|time }}
        </p>
        <div class="entry-links">
            <a href="/answer/{{ answ['id'] }}/edit">Edit</a>
            <a href="/answer/{{ answ['id'] }}/delete">Delete</a>
        </div>
    </div>
</article>