<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Marcell Bán, Miklós Torbics, Péter Ősz, Márton Mészáros">
  <meta name="description" content="Minimalistic Q&A website for software developers. Have a question? Ask away!">
  <meta name="keywords" content="Codecool, code, cool, Budapest, 2017, AskMate, ask, mate, software, developer,
    development, question, answer, comment, SzószKód, szósz, kód">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}AskMate{% endblock %}</title>
  <!-- .material-icons
  https://material.io/icons/
  -->
  <link rel="stylesheet" href="/static/css/material_icons.css">
  <link rel="icon" href="/static/images/favicon.png">
  <link rel="stylesheet" href="/static/css/layout.css">
  {% block head %}{% endblock %}
</head>
<body>
  <!-- page header -->
  <header id="page-header">
  <div class="page-wrapper">
    <div id="header-logo-wrapper">
      <a id="header-logo" href="/"><span id="ask">Ask</span>Mate</a>
    </div>
    <div id="header-content-wrapper">
      <nav id="page-menu" class="side-nav">
        <span id="page-menu-close-button" class="material-icons">close</span>
        <ul>
          {% block header_content %}{% endblock %}
          <li><a class="header-text header-hover" href="/question/new">New question</a></li>
          <li><a class="header-text header-hover" href="/UNIMPLEMENTED">About</a></li>
        </ul>
      </nav>
      <div id="side-nav-shadow"></div>
      <form action="" method="">
        <input id="easter-egg-input" type="text" placeholder="Search"><!--
        --><input id="easter-egg-submit" class="material-icons" type="submit" value="search">
      </form>
      <div id="account-menu-wrapper">
        <span id="account-menu-button" class="material-icons
            {% if session['user_name'] %}logged-in{% endif %}">account_circle</span>
        <nav id="account-menu">
          {% if session['user_name'] %}
            <ul>
              <li>{{ session['user_name'] }}</li>
              <a href="/UNIMPLEMENTED"><li>View profile</li></a>
              <a href="/logout"><li>Logout</li></a>
            </ul>
          {% else %}
            <ul>
              <a href="/login"><li>Login</li></a>
              <a href="/registration"><li>Register</li></a>
            </ul>
          {% endif %}
        </nav>
      </div>
      <span id="page-menu-open-button" class="material-icons">menu</span>
    </div>
  </div>
  </header>
  <div id="top"></div>
  <!-- flash messages -->
  <aside id="flash-messages">
  <div class="page-wrapper">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
    <article class="flash-message">{{ message }}</article>
  {% endfor %}
  {% endif %}
  {% endwith %}
  </div>
  </aside>
  <!-- main -->
  <main id="page-main">
  <div class="page-wrapper">
    {% block main %}{% endblock %}
  </div>
  </main>
  <!-- page footer -->
  <footer id="page-footer">
  <div class="page-wrapper">
  <div id="footer-vertical-align">
    Created by SzószKód<br>
    Copyright &copy; <time>2017</time><br>
    <a href="/users">Users</a>
  </div>
  </div>
  </footer>
  <!-- floating buttons -->
  <div id="floating-buttons">
    {% block floating_buttons %}{% endblock %}
    <a id="to-top" href="#top" class="material-icons floating-button">arrow_upward</a>
  </div>
  <!-- easter egg audio -->
  <audio id="easter-egg-audio" preload="auto">
    <source src="/static/audio/searching.mp3">
  </audio>
  <!-- scrips -->
  {% block js %}{% endblock %}
  <script src="/static/script/layout.js"></script>
  <script src="/static/script/easter_egg.js"></script>
  <script src="/static/script/scroll_event.js"></script>
</body>
</html>