{% extends layout.html%}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/new_question.css">
{% endblock %}
{% block main %}
    {% for dict in question_list %}
        <p><table border=1>
        <tr>
        <td colspan="1">{{ dict.get(vote_number) }}</td>
        <td rowspan="2">{{ dict.get(title) }} {{ dict.get(message) }}</td>
        </tr>
        <tr>
        <td>{{ len(question_list) }}</td>
        </tr>
        </table></p>
    {% endfor %}
{% endblock %}