{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/list.css">
  <link rel="stylesheet" href="/static/css/cards.css">
{% endblock %}

{% block header_content %}
  {% if page == 'sorted' %}
  <li><a class="header-text header-hover" href="/sort/clear">Clear sort</a></li>
  {% endif %}
  <div id="sort-menu-wrapper">
    <li class="header-text header-hover">Sort by <span class="material-icons">arrow_drop_down</span></li>
    <nav id="sort-menu-dropdown">
      ID:
      <a class="material-icons" href="/sort?id=desc">arrow_downward</a>
      <a class="material-icons" href="/sort?id=asc">arrow_upward</a><br>
      Title:
      <a class="material-icons" href="/sort?title=desc">arrow_downward</a>
      <a class="material-icons" href="/sort?title=asc">arrow_upward</a><br>
      Rating:
      <a class="material-icons" href="/sort?vote_number=desc">arrow_downward</a>
      <a class="material-icons" href="/sort?vote_number=asc">arrow_upward</a><br>
      Views:
      <a class="material-icons" href="/sort?view_number=desc">arrow_downward</a>
      <a class="material-icons" href="/sort?view_number=asc">arrow_upward</a><br>
      Post time:
      <a class="material-icons" href="/sort?submission_time=desc">arrow_downward</a>
      <a class="material-icons" href="/sort?submission_time=asc">arrow_upward</a><br>
    </nav>
  </div>
{% endblock %}

{% block main %}
  {% if question_list %}
  {% for question in question_list %}
  <article class="card list-question">
    <div class="numbers-wrapper">
    <section class="numbers">
      <div class="votes-wrapper">
        <a class="material-icons vote-button vote-up"  href="/question/{{ question['id'] }}/vote-up">arrow_upward</a>
        <div class="vote-number">{{ question['vote_number'] }}</div>
        <a class="material-icons vote-button vote-down" href="/question/{{ question['id'] }}/vote-down">arrow_downward</a>
      </div>
      <div>
        <span class="material-icons number-icon">remove_red_eye</span> {{ question['view_number'] }}
      </div>
      <div>
        <span class="material-icons number-icon">question_answer</span> {{ question['answer_count'] }}
      </div>
    </section>
    </div>
    <a class="text-wrapper" href="/question/{{ question['id'] }}">
    <div>
      <h2>{{ question['title'] }}</h2>
      <p>{{ question['message'] }}</p>
      <div class="paragraph-overlay"></div>
      <span class="read-more">Read more</span>
    </div>
    </a>
  </article>
  {% endfor %}
  {% endif %}
  {% if page == 'index' %}
  <a class="button-card" href="/list">Load more questions</a>
  {% endif %}
{% endblock %}