{% extends "layout.html" %}

{% block title %}Reply to question ID: {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/new_entry.css">
{% endblock %}

{% block main %}
    <article>
        <h2>{{ question['title'] }}</h2>
        <p>{{ question['message'] }}</p>
    </article>
    <form action="" method="post" enctype="multipart/form-data">
        <label for="message">Your answer<span class="req">*</span>:</label>
        <p>Make sure your answer is at least 10 characters long!</p>
        <textarea name="message" id="message" rows="4" required autofocus>{{ form_message }}</textarea>
        <hr>
        <label for="image">Upload an image of your solution:</label>
        <p>Accepted file formats: .jpg, .png, .gif.</p>
        <input type="file" name="image" id="image" accept="image/*">
        <input type="submit" value="Reply!"><br>
    </form>
{% endblock %}