{% extends "layout.html" %}

{% block title %}Add an answer!{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/new_entry.css">
{% endblock %}

{% block main %}
  <form class="s-shadow" action="" method="post" enctype="multipart/form-data">
    <article>
      <h2>You're replying to:</h2>
      <h3>{{ question['title'] }}</h3>
      <p><pre>{{ question['message'] }}</pre></p>
    </article>
    <label for="message">Your answer<span class="">*</span>:</label>
    <small>Make sure your answer is at least 10 characters long!</small>
    <textarea id="message" class="" name="message" autofocus minlength="10" required rows="4"
      >{{ form_message }}</textarea>
    <hr>
    <label for="image" class="hide">Upload an image of your solution:</label>
    <small class="hide">Accepted file formats: .gif, .jpeg, .jpg, .png</small>
    <input id="image" class="hide" name="image" type="file" accept="image/*">
    <input type="submit" value="Reply!">
  </form>
{% endblock %}