{% extends "layout.html" %}

{% block title %}Ask a question!{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/new_entry.css">
{% endblock %}

{% block main %}
    <form action="" method="post" enctype=multipart/form-data>
        <label for="title">Summary<span class="req">*</span>:</label>
        <input type="text" name="title" id="title" required value="{{ form_title }}"
            {% if not form_title %}autofocus{% endif %}>
        <hr>
        <label for="message">Detailed question<span class="req">*</span>:</label>
        <p>Make sure your question is at least 10 characters long!</p>
        <textarea name="message" id="message" rows="4" required
            {% if form_message %}autofocus{% endif %}>{{ form_message }}</textarea>
        <hr>
        <label for="image">Upload an image of your problem:</label>
        <p>Accepted file formats: .jpg, .png, .gif.</p>
        <input type="file" name="image" id="image" accept="image/*">
        <input type="submit" value="Ask!"><br>
    </form>
{% endblock %}