{% extends "layout.html" %}

{% block title %}Add a comment!{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/new_entry.css">
{% endblock %}

{% block main %}
  <form action="" method="post">
    <article>
      <h2>You're commenting on:</h2>
      {% if entry.get('title') %}
      <h3>{{ entry['title'] }}</h3>
      {% endif %}
      <p>{{ entry['message'] }}</p>
    </article>
    <label for="message">Your comment<span class="req">*</span>:</label>
    <small>Make sure your comment is at least 10 characters long!</small>
    <textarea id="message" class="" name="message" autofocus minlength="10" required rows="5"
      >{{ form_message }}</textarea>
    <hr>
    <input type="submit" value="Comment!">
  </form>
{% endblock %}