{% extends "layout.html" %}

{% block title %}{{ question['title'] }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/cards.css">
{% endblock %}

{% block main %}
  <!-- question -->
  <article class="card question temp">
    <div class="numbers-wrapper">
    <section class="numbers">
      <div class="votes-wrapper">
        <a class="material-icons vote-button vote-up"  href="/question/{{ question['id'] }}/vote-up?next=this">arrow_upward</a>
        <div class="vote-number">{{ question['vote_number'] }}</div>
        <a class="material-icons vote-button vote-down" href="/question/{{ question['id'] }}/vote-down?next=this">arrow_downward</a>
      </div>
      <div>
        <span class="material-icons number-icon">remove_red_eye</span> {{ question['view_number'] }}
      </div>
      <div>
        <span class="material-icons number-icon">question_answer</span> {{ question['answer_count'] }}
      </div>
    </section>
    </div>
    <div class="text-wrapper">
      <h2>{{ question['user_name'] }} asks: {{ question['title'] }}</h2>
      <p>{{ question['message'] }}</p>
      {% if session['user_name'] == question['user_name'] %}
      <section class="edit-buttons">
        <a class="material-icons" href="/question/{{ question['id'] }}/edit">mode_edit</a>
        <a class="material-icons" href="/question/{{ question['id'] }}/delete">delete</a>
      </section>
      {% endif %}
      <section class="meta-info">
      <small>
        ID: {{ question['id'] }}<br>
        Post Time: {{ question['submission_time']|time }}
      </small>
      </section>
      <section class="comments">
      <ul>
        {% if question.get('comments') %}
        {% for comment in question['comments'] %}
        <li>
          <p>{{ comment['user_name'] }}: {{ comment['message'] }}</p>
          <sectionn class="meta-info">
            Post Time: {{ comment['submission_time']|time }}<br>
            Edits: {{ comment['edit_count'] }}
            {% if session['user_name'] == comment['user_name'] %}
            <section class="edit-buttons">
              <a class="material-icons" href="/comments/{{ comment['id'] }}/edit">mode_edit</a>
              <a class="material-icons" href="/comments/{{ comment['id'] }}/delete">delete</a>
            </section>
            {% endif %}
          </sectionn>
        </li>
        {% endfor %}
        {% endif %}
        <a href="/question/{{ question['id'] }}/new-comment"><li>Add a comment</li></a>
      </ul>
    </div>
  </article>
  <!-- answers -->
  <a class="button-card" href="/question/{{ question['id'] }}/new-answer">Add an answer</a>
  <section id="answers">
    {% if answers %}
    {% for answer in answers %}
    <article class="card answer">
      <div class="numbers-wrapper">
      <section class="numbers">
        <div class="votes-wrapper">
          <a class="material-icons vote-button vote-up"  href="/answer/{{ answer['id'] }}/vote-up?next=this">arrow_upward</a>
          <div class="vote-number">{{ answer['vote_number'] }}</div>
          <a class="material-icons vote-button vote-down" href="/answer/{{ answer['id'] }}/vote-down?next=this">arrow_downward</a>
        </div>
        <div class="accepted-answer-wrapper">
          {% if answer['accepted_answer'] %}
            <span id="accepted-answer" class="material-icons">circle_check</span>
          {% elif not question['has_accepted_answer'] and session.get('user_name') == question['user_name'] %}
            <a class="material-icons select-accepted-answer" href="/answer/{{ answer['id'] }}/accepted">circle_check</a>
          {% endif %}
        </div>
      </section>
      </div>
      <div class="text-wrapper">
        <h3>{{ answer['user_name'] }}'s solution:</h3>
        <p class="entry-message">{{ answer['message'] }}</p>
        {% if session['user_name'] == answer['user_name'] %}
        <section class="edit-buttons">
          <a class="material-icons no-underline" href="/answer/{{ answer['id'] }}/edit">mode_edit</a>
          <a class="material-icons no-underline" href="/answer/{{ answer['id'] }}/delete">delete</a>
        </section>
        {% endif %}
        <section class="meta-info">
        <small>
          Post Time: {{ answer['submission_time']|time }}
        </small>
        </section>
        <section class="comments">
        <ul>
          {% if answer.get('comments') %}
          {% for comment in answer['comments'] %}
          <li>
            <p>{{ comment['user_name'] }}: {{ comment['message'] }}</p>
            <sectionn class="meta-info">
              Post Time: {{ comment['submission_time']|time }}<br>
              Edits: {{ comment['edit_count'] }}
              {% if session['user_name'] == comment['user_name'] %}
              <section class="edit-buttons">
                <a class="material-icons" href="/comments/{{ comment['id'] }}/edit">mode_edit</a>
                <a class="material-icons" href="/comments/{{ comment['id'] }}/delete">delete</a>
              </section>
              {% endif %}
            </sectionn>
          </li>
          {% endfor %}
          {% endif %}
          <a href="/answer/{{ answer['id'] }}/new-comment"><li>Add a comment</li></a>
        </ul>
      </div>
    </article>
    {% endfor %}
    <a class="button-card" href="/question/{{ question['id'] }}/new-answer">Add an answer</a>
    {% endif %}
  </section>
{% endblock %}

{% block js %}
  <script src="/static/script/numbers_scroll.js"></script>
{% endblock %}