{% extends "layout.html" %}

{% block title %}Single question{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/cards.css">
{% endblock %}

{% block main %}
<!-- question -->
<article class="question-card">
    <div class="numbers-wrapper">
    <div class="numbers">
        <div class="votes">
            <a href="/question/{{ question['id'] }}/vote-up?next=this" class="material-icons vote-button vote-up">arrow_upward</a><br>
            {{ question['vote_number'] }}<br>
            <a href="/question/{{ question['id'] }}/vote-down?next=this" class="material-icons vote-button vote-down">arrow_downward</a>
        </div>
        <span class="material-icons num-icon">remove_red_eye</span> {{ question['view_number'] }}<br>
        <span class="material-icons num-icon">question_answer</span> {{ question['answer_count']}}
    </div>
    </div>
    <div class="question-wrapper">
        <h2>{{ question['title'] }}</h2>
        <p class="entry-message">{{ question['message'] }}</p>
        <section class="edit-buttons">
                <a href="/question/{{ question['id'] }}/edit"><button class="material-icons">mode_edit</button></a>
                <a href="/question/{{ question['id'] }}/delete"><button class="material-icons">delete</button></a>
            </section>
        <section class="question-meta-info">
            ID: {{ question['id'] }}<br>
            Post Time: {{ question['submission_time']|time }}
        </section>
        <section class="comments">
            <ul>
                {% if question.get('comments') %}
                {% for comment in question['comments'] %}
                <li>
                    <p class="entry-message">{{ comment['message'] }}</p>
                    <section class="comment-meta-info">
                        Post Time: {{ comment['submission_time']|time }}
                        <section class="edit-buttons">
                            <a href="/comments/{{ comment['id'] }}/edit"><button class="material-icons">mode_edit</button></a>
                            <a href="/comments/{{ comment['id'] }}/delete"><button class="material-icons">delete</button></a>
                        </section>
                    </section>
                </li>
                {% endfor %}
                {% endif %}
                <a href="/question/{{ question['id'] }}/new-comment"><li class="new-comment">Add a comment</li></a>
            </ul>
        </section>
    </div>
</article>
<hr>
<!-- answers -->
<section class="add-new-answer">
    Add an answer
</section>
<div id="answers">
    {% if answers %}
    {% for answer in answers %}
    <article class="answer-card">
        <div class="numbers-wrapper">
        <div class="numbers">
            <div class="votes">
                <a href="/answer/{{ answer['id'] }}/vote-up" class="material-icons vote-up">arrow_upward</a><br>
                {{ answer['vote_number'] }}<br>
                <a href="/answer/{{ answer['id'] }}/vote-down" class="material-icons vote-down">arrow_downward</a><br>
            </div>
        </div>
        </div>
        <div class="answer-wrapper">
            <p class="answer-message entry-message">{{ answer['message'] }}</p>
            <section class="edit-buttons">
                <a href=""><button class="material-icons">mode_edit</button></a>
                <a href=""><button class="material-icons">delete</button></a>
            </section>
            <section class="answer-meta-info">
                Post time: {{ answer['submission_time']|time }}
            </section>
            <section class="comments">
                <ul>
                    {% if answer.get('comments') %}
                    {% for comment in answer['comments'] %}
                    <li>
                        <p class="entry-message">{{ comment['message'] }}</p>
                        <section class="comment-meta-info">
                            Post Time: {{ comment['submission_time']|time }}
                            <section class="edit-buttons">
                                <a href="/question/{{ question['id'] }}/edit"><button class="material-icons">mode_edit</button></a>
                                <a href="/questions/{{ question['id'] }}/delete"><button class="material-icons">delete</button></a>
                            </section>
                        </section>
                    </li>
                    {% endfor %}
                    {% endif %}
                    <a href="/answer/{{ answer['id'] }}/new-comment"><li class="new-comment">Add a comment</li></a>
                </ul>
            </section>
        </div>
    </article>
    {% endfor %}
    <section class="add-new-answer">
        Add an answer
    </section>
    {% endif %}
</div>
{% endblock %}

{% block floating_buttons %}
    <a href="/question/{{ question['id'] }}/new-answer"><button class="material-icons floating-button">question_answer</button></a>
{% endblock %}



<!-- ORIGINAL QUESTION
<article>
    <div class="numbers">
        <a href="/question/{{ question['id'] }}/vote-up?next=this" class="material-icons vote-up">keyboard_arrow_up</a><br>
        {{ question['vote_number'] }}<br>
        <a href="/question/{{ question['id'] }}/vote-down?next=this" class="material-icons vote-down">keyboard_arrow_down</a><br>
        <span class="material-icons num-icon">remove_red_eye</span> {{ question['view_number'] }}<br>
        <span class="material-icons num-icon">question_answer</span> {{ question['answer_count'] }}
    </div><!-- CHANGE THIS BIT -->
    <!--CHAGE THIS BIT<div class="question">
        <h2>{{ question['title'] }}</h2>
        <p>{{ question['message'] }}</p>
        <p class="meta-data">
            ID: {{ question['id'] }}<br>
            Post time: {{ question['submission_time']|time }}
        <div class="entry-links">
            <a href="">I have an answer</a><br>
            <a href="/question/{{ question['id'] }}/edit">Edit</a>
            <a href="/question/{{ question['id'] }}/delete" id="see-answers">Delete</a>
        </div>
    </div>
    {% if question.get('comments') %}
        <ul>
        {% for comment in question['comments'] %}
            <li>
                {{ comment['message'] }}<br>
                {{ comment['submission_time'] }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</article>
-->



<!-- ORIGINAL ANSWER
<div id="answers">
{% for answ in answers %}
<article class="article-card">
    <div class="numbers">
        <a href="/answer/{{ answ['id'] }}/vote-up" class="material-icons vote-up">keyboard_arrow_up</a><br>
        {{ answ['vote_number'] }}<br>
        <a href="/answer/{{ answ['id'] }}/vote-down" class="material-icons vote-down">keyboard_arrow_down</a><br>
    </div><!-- CHANGE THIS BIT -->
    <!-- CHANGE THIS BIT<div class="answer">
        <p>A: {{ answ['message'] }}</p>
        <p class="meta-data">
            Post time: {{ answ['submission_time']|time }}
        </p>
        <div class="entry-links">
            <a href="/answer/{{ answ['id'] }}/edit">Edit</a>
            <a href="/answer/{{ answ['id'] }}/delete">Delete</a>
        </div>
    </div>
    {% if answ.get('comments') %}
        <ul>
        {% for comment in answ['comments'] %}
            <li>
                {{ comment['message'] }}<br>
                {{ comment['submission_time'] }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</article>
{% endfor %}
</div>
-->



<!-- ONCLICK FOR LIST QUESTION
onclick="location='/question/{{ id }}'" 
-->