{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <style>
        table{
            margin:0px;
            margin-bottom: 20px;
            }
       td{padding: 10px;}
       table a:link, table a:visited {
                            background-color: #4CAF50;
                            color: white;
                            padding: 14px 25px;
                            text-align: center; 
                            text-decoration: none;
                            float:right;
        }
        th, td {
                border-left: 1px solid black;
        }
        
    </style>
    <link rel="stylesheet" href="/static/css/entry_display.css">
    <style>
        hr {
            width: 95%; height: 3px;
            margin: 0 auto 35px;
            background: #BDBDBD;
        }
    </style>
{% endblock %}
{% block main %}
<article>
    <div class="numbers">
        <a href="/question/{{ question['id'] }}/vote-up?next=this" class="material-icons vote-up">keyboard_arrow_up</a><br>
        {{ question['vote_number'] }}<br>
        <a href="/question/{{ question['id'] }}/vote-down?next=this" class="material-icons vote-down">keyboard_arrow_down</a><br>
        <span class="material-icons num-icon">remove_red_eye</span> {{ question['view_number'] }}<br>
        <span class="material-icons num-icon">question_answer</span> {{ question['answer_count'] }}
    </div><!--
    --><div class="question">
        <h2>{{ question['title'] }}</h2>
        <p>{{ question['message'] }}</p>
        <p class="meta-data">
            ID: {{ question['id'] }}<br>
            Post time: {{ question['submission_time']|time }}
        <div class="entry-links">
            <a href="/question/{{ question['id'] }}/new-answer">I have an answer</a><br>
            <a href="/question/{{ question['id'] }}/edit">Edit</a>
            <a href="/question/{{ question['id'] }}/delete" id="see-answers">Delete</a>
        </div>
    </div>
</article>
{% if question['answer_count'] %}
<hr>
{% endif %}
<div id="answers">
{% for answ in answers %}
<article class="article-card">
    <div class="numbers">
        <a href="/answer/{{ answ['id'] }}/vote-up" class="material-icons vote-up">keyboard_arrow_up</a><br>
        {{ answ['vote_number'] }}<br>
        <a href="/answer/{{ answ['id'] }}/vote-down" class="material-icons vote-down">keyboard_arrow_down</a><br>
    </div><!--
    --><div class="answer">
        <p>A: {{ answ['message'] }}</p>
        <p class="meta-data">
            Post time: {{ answ['submission_time']|time }}
        </p>
        <div class="entry-links">
            <a href="/answer/{{ answ['id'] }}/edit">Edit</a>
            <a href="/answer/{{ answ['id'] }}/delete">Delete</a>
        </div>
    </div>
</article>
{% endfor %}
</div>
{% endblock %}